In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/covid19-global-forecasting-week-2/train.csv
/kaggle/input/covid19-global-forecasting-week-2/submission.csv
/kaggle/input/covid19-global-forecasting-week-2/test.csv
/kaggle/input/covid19-global-forecasting-week-1/train.csv
/kaggle/input/covid19-global-forecasting-week-1/submission.csv
/kaggle/input/covid19-global-forecasting-week-1/test.csv

In [2]:
import matplotlib.pyplot as plt
from matplotlib import colors

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.spatial.distance import cdist
from pathlib import Path
for dirname, _, filenames in os.walk('/kaggle/input'):
    print(dirname)

from google.cloud import bigquery
from datetime import datetime


data_path = Path('/kaggle/input/covid19-global-forecasting-week-1/')
train = pd.read_csv(data_path / 'train.csv')
test = pd.read_csv(data_path / 'test.csv')

data_path = Path('/kaggle/input/covid19-global-forecasting-week-2/')
train_2 = pd.read_csv(data_path / 'train.csv')
test_2 = pd.read_csv(data_path / 'test.csv')

/kaggle/input
/kaggle/input/covid19-global-forecasting-week-2
/kaggle/input/covid19-global-forecasting-week-1

Here is the weather data:

* temp: Mean temperature for the day in degrees Fahrenheit to tenths. Missing = 9999.9
* max: Maximum temperature reported during the day in Fahrenheit to tenths--time of max temp report varies by country and region, * so this will sometimes not be the max for the calendar day. Missing = 9999.9
* min: Minimum temperature reported during the day in Fahrenheit to tenths--time of min temp report varies by country and region, so this will sometimes not be the min for the calendar day. Missing = 9999.9
* stp: Mean station pressure for the day in millibars to tenths. Missing = 9999.9
* wdsp: Mean wind speed for the day in knots to tenths. Missing = 999.9
* prcp: Total precipitation (rain and/or melted snow) reported during the day in inches and hundredths; will usually not end with the midnight observation--i.e., may include latter part of previous day. .00 indicates no measurable precipitation (includes a trace). Missing = 99.9
* fog: Indicators (1 = yes, 0 = no/not reported) for the occurrence during the day

In [3]:
# %%time
# client = bigquery.Client()
# dataset_ref = client.dataset("noaa_gsod", project="bigquery-public-data")
# dataset = client.get_dataset(dataset_ref)

# tables = list(client.list_tables(dataset))

# table_ref = dataset_ref.table("stations")
# table = client.get_table(table_ref)
# stations_df = client.list_rows(table).to_dataframe()

# table_ref = dataset_ref.table("gsod2020")
# table = client.get_table(table_ref)
# twenty_twenty_df = client.list_rows(table).to_dataframe()

# stations_df['STN'] = stations_df['usaf'] + '-' + stations_df['wban']
# twenty_twenty_df['STN'] = twenty_twenty_df['stn'] + '-' + twenty_twenty_df['wban']

# cols_1 = ['STN', 'mo', 'da', 'temp', 'min', 'max', 'stp', 'wdsp', 'prcp', 'fog']
# cols_2 = ['STN', 'country', 'state', 'call', 'lat', 'lon', 'elev']
# weather_df = twenty_twenty_df[cols_1].join(stations_df[cols_2].set_index('STN'), on='STN')

# weather_df.tail(10)

In [4]:
# weather_df['day_from_jan_first'] = (weather_df['da'].apply(int)
#                                    + 31*(weather_df['mo']=='02') 
#                                    + 60*(weather_df['mo']=='03')
#                                    + 91*(weather_df['mo']=='04')  
#                                    )

# mo = train['Date'].apply(lambda x: x[5:7])
# da = train['Date'].apply(lambda x: x[8:10])
# train['day_from_jan_first'] = (da.apply(int)
#                                + 31*(mo=='02') 
#                                + 60*(mo=='03')
#                                + 91*(mo=='04')  
#                               )

# C = []
# for j in train.index:
#     df = train.iloc[j:(j+1)]
#     mat = cdist(df[['Lat','Long', 'day_from_jan_first']],
#                 weather_df[['lat','lon', 'day_from_jan_first']], 
#                 metric='euclidean')
#     new_df = pd.DataFrame(mat, index=df.Id, columns=weather_df.index)
#     arr = new_df.values
#     new_close = np.where(arr == np.nanmin(arr, axis=1)[:,None],new_df.columns,False)
#     L = [i[i.astype(bool)].tolist()[0] for i in new_close]
#     C.append(L[0])
    
# train['closest_station'] = C

# train = train.set_index('closest_station').join(weather_df[['temp', 'min', 'max', 'stp', 'wdsp', 'prcp', 'fog']], ).reset_index().drop(['index'], axis=1)
# train.sort_values(by=['Id'], inplace=True)
# #train = train.set_index('Id')
# train.index = train['Id'].apply(lambda x: x-1)
# train.head()

In [5]:
# train.to_csv('training_data_with_weather_info_week_1.csv')

In [6]:
train['country+province'] = train['Country/Region'].fillna('') + '-' + train['Province/State'].fillna('')
train_2['country+province'] = train_2['Country_Region'].fillna('') + '-' + train_2['Province_State'].fillna('')

df = train.groupby('country+province')[['Lat', 'Long']].mean()
df.loc['United Kingdom-'] = df.loc['United Kingdom-United Kingdom']
df.loc['Diamond Princess-'] = df.loc['Cruise Ship-Diamond Princess']
df.loc['Denmark-'] = df.loc['Denmark-Denmark']
df.loc['France-'] = df.loc['France-France']
df.loc['Gambia-'] = df.loc['Gambia, The-']
df.loc['Netherlands-'] = df.loc['Netherlands-Netherlands']
df.loc['Dominica-'] = (15.3, -61.383333)
df.loc['Angola-'] = (-8.830833, 13.245)
df.loc['Bahamas-'] = (25.066667, -77.333333)
df.loc['Belize-'] = (17.498611, -88.188611)
df.loc['Cabo Verde-'] = (14.916667, -23.516667)
df.loc['Chad-'] = (12.134722, 15.055833)
df.loc['Denmark-Greenland'] = (64.181389, -51.694167)
df.loc['El Salvador-'] = (13.698889, -89.191389)
df.loc['Eritrea-'] = (15.322778, 38.925)
df.loc['Fiji-'] = (-18.166667, 178.45)
df.loc['France-Martinique'] = (14.666667, -61)
df.loc['France-New Caledonia'] = (-22.2758, 166.458)
df.loc['Grenada-'] = (12.05, -61.75)
df.loc['Guinea-Bissau-'] = (11.85, -15.566667)
df.loc['Haiti-'] = (18.533333, -72.333333)
df.loc['Laos-'] = (17.966667, 102.6)
df.loc['Libya-'] = (32.887222, 13.191389)
df.loc['Madagascar-'] = (-18.933333, 47.516667)
df.loc['Mali-'] = (12.639167, -8.002778)
df.loc['Mozambique-'] = (-25.966667, 32.583333)
df.loc['Netherlands-Sint Maarten'] = (18.052778, -63.0425)
df.loc['Nicaragua-'] = (12.136389, -86.251389)
df.loc['Niger-'] = (13.511667, 2.125278)
df.loc['Papua New Guinea-'] = (-9.478889, 147.149444)
df.loc['Saint Kitts and Nevis-'] = (17.3, -62.733333)
df.loc['Syria-'] = (33.513056, 36.291944)
df.loc['Timor-Leste-'] = (-8.566667, 125.566667)
df.loc['Uganda-'] = (0.313611, 32.581111)
df.loc['Zimbabwe-'] = (-17.829167, 31.052222)
df.loc['United Kingdom-Bermuda'] = (32.293, -64.782)
df.loc['United Kingdom-Isle of Man'] = (54.145, -4.482)

train_2['Lat'] = train_2['country+province'].apply(lambda x: df.loc[x, 'Lat'])
train_2['Long'] = train_2['country+province'].apply(lambda x: df.loc[x, 'Long'])
train_2.head()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,country+province,Lat,Long
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0,Afghanistan-,33.0,65.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0,Afghanistan-,33.0,65.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0,Afghanistan-,33.0,65.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0,Afghanistan-,33.0,65.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0,Afghanistan-,33.0,65.0

In [7]:
train_2.to_csv("train2_latlong.csv",index=False)

In [8]:
test_2['country+province'] = test_2['Country_Region'].fillna('') + '-' + test_2['Province_State'].fillna('')

test_2['Lat'] = test_2['country+province'].apply(lambda x: df.loc[x, 'Lat'])
test_2['Long'] = test_2['country+province'].apply(lambda x: df.loc[x, 'Long'])
test_2.head()

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long
0,1,NaN,Afghanistan,2020-03-19,Afghanistan-,33.0,65.0
1,2,NaN,Afghanistan,2020-03-20,Afghanistan-,33.0,65.0
2,3,NaN,Afghanistan,2020-03-21,Afghanistan-,33.0,65.0
3,4,NaN,Afghanistan,2020-03-22,Afghanistan-,33.0,65.0
4,5,NaN,Afghanistan,2020-03-23,Afghanistan-,33.0,65.0

In [9]:
test_2.to_csv("test2_latlong.csv",index=False)

In [10]:
# mo = train_2['Date'].apply(lambda x: x[5:7])
# da = train_2['Date'].apply(lambda x: x[8:10])
# train_2['day_from_jan_first'] = (da.apply(int)
#                                + 31*(mo=='02') 
#                                + 60*(mo=='03')
#                                + 91*(mo=='04')  
#                               )

# C = []
# for j in train_2.index:
#     df = train_2.iloc[j:(j+1)]
#     mat = cdist(df[['Lat','Long', 'day_from_jan_first']],
#                 weather_df[['lat','lon', 'day_from_jan_first']], 
#                 metric='euclidean')
#     new_df = pd.DataFrame(mat, index=df.Id, columns=weather_df.index)
#     arr = new_df.values
#     new_close = np.where(arr == np.nanmin(arr, axis=1)[:,None],new_df.columns,False)
#     L = [i[i.astype(bool)].tolist()[0] for i in new_close]
#     C.append(L[0])
    
# train_2['closest_station'] = C

# train_2= train_2.set_index('closest_station').join(weather_df[['temp', 'min', 'max', 'stp', 'wdsp', 'prcp', 'fog']], ).reset_index().drop(['index'], axis=1)
# train_2.sort_values(by=['Id'], inplace=True)
# #train_2 = train_2.set_index('Id')
# train_2.index = train_2['Id'].apply(lambda x: x-1)
# display(train_2.head())

# train_2.to_csv('training_data_with_weather_info_week_2.csv')

In [11]:
import lightgbm as lgb
from fastai.tabular import *
from sklearn import preprocessing
import datetime

train = pd.read_csv("../input/covid19-global-forecasting-week-2/train.csv")
test = pd.read_csv("../input/covid19-global-forecasting-week-2/test.csv")
sub = pd.read_csv("../input/covid19-global-forecasting-week-2/submission.csv")

In [12]:
train = pd.read_csv("train2_latlong.csv")
test = pd.read_csv("test2_latlong.csv")
sub = pd.read_csv("../input/covid19-global-forecasting-week-2/submission.csv")

In [13]:
train.head()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities,country+province,Lat,Long
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0,Afghanistan-,33.0,65.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0,Afghanistan-,33.0,65.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0,Afghanistan-,33.0,65.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0,Afghanistan-,33.0,65.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0,Afghanistan-,33.0,65.0

In [14]:
print(train.Date.min())
print(train.Date.max())
print(test.Date.min())
print(test.Date.max())

2020-01-22
2020-03-27
2020-03-19
2020-04-30

In [15]:
train = train.append(test[test['Date']>'2020-03-26'])

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [16]:
train.head()

,ConfirmedCases,Country_Region,Date,Fatalities,ForecastId,Id,Lat,Long,Province_State,country+province
0,0.0,Afghanistan,2020-01-22,0.0,NaN,1.0,33.0,65.0,NaN,Afghanistan-
1,0.0,Afghanistan,2020-01-23,0.0,NaN,2.0,33.0,65.0,NaN,Afghanistan-
2,0.0,Afghanistan,2020-01-24,0.0,NaN,3.0,33.0,65.0,NaN,Afghanistan-
3,0.0,Afghanistan,2020-01-25,0.0,NaN,4.0,33.0,65.0,NaN,Afghanistan-
4,0.0,Afghanistan,2020-01-26,0.0,NaN,5.0,33.0,65.0,NaN,Afghanistan-

In [17]:
train.shape

(29694, 10)

In [18]:
def rmsle (y_true, y_pred):
    return np.sqrt(np.mean(np.power(np.log1p(y_pred) - np.log1p(y_true), 2)))
def mape (y_true, y_pred):
    return np.mean(np.abs(y_pred -y_true)*100/(y_true+1))

In [19]:
train['Date'] = pd.to_datetime(train['Date'], format='%Y-%m-%d')

In [20]:
train['day_dist'] = train['Date']-train['Date'].min()
train['day_dist'] = train['day_dist'].dt.days
# test['day_dist'] = test['Date']-test['Date'].min()
# test['day_dist'] = test['day_dist'].dt.days
cat_cols = train.dtypes[train.dtypes=='object'].keys()
cat_cols

Index(['Country_Region', 'Province_State', 'country+province'], dtype='object')

In [21]:
for cat_col in cat_cols:
    train[cat_col].fillna('no_value', inplace = True)
    
train['place'] = train['Province_State']+'_'+train['Country_Region']
for cat_col in ['place']:
    le = preprocessing.LabelEncoder()
    le.fit(train[cat_col])
    train[cat_col]=le.transform(train[cat_col])

In [22]:
train.keys()

Index(['ConfirmedCases', 'Country_Region', 'Date', 'Fatalities', 'ForecastId',
       'Id', 'Lat', 'Long', 'Province_State', 'country+province', 'day_dist',
       'place'],
      dtype='object')

In [23]:
train["Date"].max()

Timestamp('2020-04-30 00:00:00')

In [24]:
test["Date"].min()

'2020-03-19'

In [25]:
# train["Date1"] = train["Date"]
# add_datepart(train, field_name="Date1")

In [26]:
val = train[(train['Date']>='2020-03-19')&(train['Id'].isnull()==False)]

In [27]:
y_ft = train["Fatalities"]
y_val_ft = val["Fatalities"]
y_cc = train["ConfirmedCases"]
y_val_cc = val["ConfirmedCases"]

In [28]:
params = {
    "objective": "regression",
    "boosting": 'gbdt',
    "num_leaves": 1280,
    "learning_rate": 0.05,
    "feature_fraction": 0.9,
    "reg_lambda": 2,
    "metric": "rmse",
    'min_data_in_leaf':20
}

In [29]:
dates = test['Date'].unique()
dates

array(['2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
       '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03',
       '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
       '2020-04-28', '2020-04-29', '2020-04-30'], dtype=object)

In [30]:
dates = dates[dates>'2020-03-26']
len(dates)

35

In [31]:
drop_cols = ['Id', 'ConfirmedCases', 'Fatalities','day_dist', 'Province_State', 'Country_Region', 'Date', 'country+province']

In [32]:
places = train["country+province"].unique()
len(places)

294

In [33]:
# place="India-"
# initdate = min(train.loc[(train["country+province"]==place) & (train["ConfirmedCases"]>0)]["Date"])
# initdate

In [34]:
# train.loc[(train["country+province"]==place) & (train["ConfirmedCases"]>0)]

In [35]:
places_dict={}
for place in places:
    initdate = min(train.loc[(train["country+province"]==place) & (train["ConfirmedCases"]>0)]["Date"])
    places_dict[place] = initdate.date()
    
places_dict

{'Afghanistan-': datetime.date(2020, 2, 24),
 'Albania-': datetime.date(2020, 3, 9),
 'Algeria-': datetime.date(2020, 2, 25),
 'Andorra-': datetime.date(2020, 3, 2),
 'Angola-': datetime.date(2020, 3, 20),
 'Antigua and Barbuda-': datetime.date(2020, 3, 13),
 'Argentina-': datetime.date(2020, 3, 3),
 'Armenia-': datetime.date(2020, 3, 1),
 'Australia-Australian Capital Territory': datetime.date(2020, 3, 13),
 'Australia-New South Wales': datetime.date(2020, 1, 26),
 'Australia-Northern Territory': datetime.date(2020, 3, 4),
 'Australia-Queensland': datetime.date(2020, 1, 29),
 'Australia-South Australia': datetime.date(2020, 2, 1),
 'Australia-Tasmania': datetime.date(2020, 3, 2),
 'Australia-Victoria': datetime.date(2020, 1, 26),
 'Australia-Western Australia': datetime.date(2020, 2, 29),
 'Austria-': datetime.date(2020, 2, 25),
 'Azerbaijan-': datetime.date(2020, 3, 1),
 'Bahamas-': datetime.date(2020, 3, 16),
 'Bahrain-': datetime.date(2020, 2, 24),
 'Bangladesh-': datetime.date(2020, 3, 8),
 'Barbados-': datetime.date(2020, 3, 17),
 'Belarus-': datetime.date(2020, 2, 28),
 'Belgium-': datetime.date(2020, 2, 4),
 'Belize-': datetime.date(2020, 3, 23),
 'Benin-': datetime.date(2020, 3, 16),
 'Bhutan-': datetime.date(2020, 3, 6),
 'Bolivia-': datetime.date(2020, 3, 11),
 'Bosnia and Herzegovina-': datetime.date(2020, 3, 5),
 'Brazil-': datetime.date(2020, 2, 26),
 'Brunei-': datetime.date(2020, 3, 9),
 'Bulgaria-': datetime.date(2020, 3, 8),
 'Burkina Faso-': datetime.date(2020, 3, 10),
 'Cabo Verde-': datetime.date(2020, 3, 20),
 'Cambodia-': datetime.date(2020, 1, 27),
 'Cameroon-': datetime.date(2020, 3, 6),
 'Canada-Alberta': datetime.date(2020, 3, 6),
 'Canada-British Columbia': datetime.date(2020, 1, 28),
 'Canada-Manitoba': datetime.date(2020, 3, 13),
 'Canada-New Brunswick': datetime.date(2020, 3, 11),
 'Canada-Newfoundland and Labrador': datetime.date(2020, 3, 15),
 'Canada-Nova Scotia': datetime.date(2020, 3, 16),
 'Canada-Ontario': datetime.date(2020, 1, 26),
 'Canada-Prince Edward Island': datetime.date(2020, 3, 15),
 'Canada-Quebec': datetime.date(2020, 2, 28),
 'Canada-Saskatchewan': datetime.date(2020, 3, 13),
 'Central African Republic-': datetime.date(2020, 3, 15),
 'Chad-': datetime.date(2020, 3, 19),
 'Chile-': datetime.date(2020, 3, 3),
 'China-Anhui': datetime.date(2020, 1, 22),
 'China-Beijing': datetime.date(2020, 1, 22),
 'China-Chongqing': datetime.date(2020, 1, 22),
 'China-Fujian': datetime.date(2020, 1, 22),
 'China-Gansu': datetime.date(2020, 1, 23),
 'China-Guangdong': datetime.date(2020, 1, 22),
 'China-Guangxi': datetime.date(2020, 1, 22),
 'China-Guizhou': datetime.date(2020, 1, 22),
 'China-Hainan': datetime.date(2020, 1, 22),
 'China-Hebei': datetime.date(2020, 1, 22),
 'China-Heilongjiang': datetime.date(2020, 1, 23),
 'China-Henan': datetime.date(2020, 1, 22),
 'China-Hong Kong': datetime.date(2020, 1, 23),
 'China-Hubei': datetime.date(2020, 1, 22),
 'China-Hunan': datetime.date(2020, 1, 22),
 'China-Inner Mongolia': datetime.date(2020, 1, 24),
 'China-Jiangsu': datetime.date(2020, 1, 22),
 'China-Jiangxi': datetime.date(2020, 1, 22),
 'China-Jilin': datetime.date(2020, 1, 23),
 'China-Liaoning': datetime.date(2020, 1, 22),
 'China-Macau': datetime.date(2020, 1, 22),
 'China-Ningxia': datetime.date(2020, 1, 22),
 'China-Qinghai': datetime.date(2020, 1, 25),
 'China-Shaanxi': datetime.date(2020, 1, 23),
 'China-Shandong': datetime.date(2020, 1, 22),
 'China-Shanghai': datetime.date(2020, 1, 22),
 'China-Shanxi': datetime.date(2020, 1, 22),
 'China-Sichuan': datetime.date(2020, 1, 22),
 'China-Tianjin': datetime.date(2020, 1, 22),
 'China-Tibet': datetime.date(2020, 1, 30),
 'China-Xinjiang': datetime.date(2020, 1, 23),
 'China-Yunnan': datetime.date(2020, 1, 22),
 'China-Zhejiang': datetime.date(2020, 1, 22),
 'Colombia-': datetime.date(2020, 3, 6),
 'Congo (Brazzaville)-': datetime.date(2020, 3, 15),
 'Congo (Kinshasa)-': datetime.date(2020, 3, 11),
 'Costa Rica-': datetime.date(2020, 3, 6),
 "Cote d'Ivoire-": datetime.date(2020, 3, 11),
 'Croatia-': datetime.date(2020, 2, 25),
 'Cuba-': datetime.date(2020, 3, 12),
 'Cyprus-': datetime.date(2020, 3, 9),
 'Czechia-': datetime.date(2020, 3, 1),
 'Denmark-Faroe Islands': datetime.date(2020, 3, 4),
 'Denmark-Greenland': datetime.date(2020, 3, 16),
 'Denmark-': datetime.date(2020, 2, 27),
 'Diamond Princess-': datetime.date(2020, 2, 7),
 'Djibouti-': datetime.date(2020, 3, 18),
 'Dominica-': datetime.date(2020, 3, 22),
 'Dominican Republic-': datetime.date(2020, 3, 1),
 'Ecuador-': datetime.date(2020, 3, 1),
 'Egypt-': datetime.date(2020, 2, 14),
 'El Salvador-': datetime.date(2020, 3, 19),
 'Equatorial Guinea-': datetime.date(2020, 3, 15),
 'Eritrea-': datetime.date(2020, 3, 21),
 'Estonia-': datetime.date(2020, 2, 27),
 'Eswatini-': datetime.date(2020, 3, 14),
 'Ethiopia-': datetime.date(2020, 3, 13),
 'Fiji-': datetime.date(2020, 3, 19),
 'Finland-': datetime.date(2020, 1, 29),
 'France-French Guiana': datetime.date(2020, 3, 7),
 'France-French Polynesia': datetime.date(2020, 3, 13),
 'France-Guadeloupe': datetime.date(2020, 3, 13),
 'France-Martinique': datetime.date(2020, 3, 7),
 'France-Mayotte': datetime.date(2020, 3, 15),
 'France-New Caledonia': datetime.date(2020, 3, 19),
 'France-Reunion': datetime.date(2020, 3, 11),
 'France-Saint Barthelemy': datetime.date(2020, 3, 4),
 'France-St Martin': datetime.date(2020, 3, 9),
 'France-': datetime.date(2020, 1, 24),
 'Gabon-': datetime.date(2020, 3, 14),
 'Gambia-': datetime.date(2020, 3, 17),
 'Georgia-': datetime.date(2020, 2, 26),
 'Germany-': datetime.date(2020, 1, 27),
 'Ghana-': datetime.date(2020, 3, 14),
 'Greece-': datetime.date(2020, 2, 26),
 'Grenada-': datetime.date(2020, 3, 22),
 'Guatemala-': datetime.date(2020, 3, 14),
 'Guinea-': datetime.date(2020, 3, 13),
 'Guinea-Bissau-': datetime.date(2020, 3, 25),
 'Guyana-': datetime.date(2020, 3, 12),
 'Haiti-': datetime.date(2020, 3, 20),
 'Holy See-': datetime.date(2020, 3, 6),
 'Honduras-': datetime.date(2020, 3, 11),
 'Hungary-': datetime.date(2020, 3, 4),
 'Iceland-': datetime.date(2020, 2, 28),
 'India-': datetime.date(2020, 1, 30),
 'Indonesia-': datetime.date(2020, 3, 2),
 'Iran-': datetime.date(2020, 2, 19),
 'Iraq-': datetime.date(2020, 2, 24),
 'Ireland-': datetime.date(2020, 2, 29),
 'Israel-': datetime.date(2020, 2, 21),
 'Italy-': datetime.date(2020, 1, 31),
 'Jamaica-': datetime.date(2020, 3, 11),
 'Japan-': datetime.date(2020, 1, 22),
 'Jordan-': datetime.date(2020, 3, 3),
 'Kazakhstan-': datetime.date(2020, 3, 13),
 'Kenya-': datetime.date(2020, 3, 13),
 'Korea, South-': datetime.date(2020, 1, 22),
 'Kuwait-': datetime.date(2020, 2, 24),
 'Kyrgyzstan-': datetime.date(2020, 3, 18),
 'Laos-': datetime.date(2020, 3, 24),
 'Latvia-': datetime.date(2020, 3, 2),
 'Lebanon-': datetime.date(2020, 2, 21),
 'Liberia-': datetime.date(2020, 3, 16),
 'Libya-': datetime.date(2020, 3, 24),
 'Liechtenstein-': datetime.date(2020, 3, 4),
 'Lithuania-': datetime.date(2020, 2, 28),
 'Luxembourg-': datetime.date(2020, 2, 29),
 'Madagascar-': datetime.date(2020, 3, 20),
 'Malaysia-': datetime.date(2020, 1, 25),
 'Maldives-': datetime.date(2020, 3, 8),
 'Mali-': datetime.date(2020, 3, 25),
 'Malta-': datetime.date(2020, 3, 7),
 'Mauritania-': datetime.date(2020, 3, 14),
 'Mauritius-': datetime.date(2020, 3, 18),
 'Mexico-': datetime.date(2020, 2, 28),
 'Moldova-': datetime.date(2020, 3, 8),
 'Monaco-': datetime.date(2020, 2, 29),
 'Mongolia-': datetime.date(2020, 3, 10),
 'Montenegro-': datetime.date(2020, 3, 17),
 'Morocco-': datetime.date(2020, 3, 2),
 'Mozambique-': datetime.date(2020, 3, 22),
 'Namibia-': datetime.date(2020, 3, 14),
 'Nepal-': datetime.date(2020, 1, 25),
 'Netherlands-Aruba': datetime.date(2020, 3, 13),
 'Netherlands-Curacao': datetime.date(2020, 3, 14),
 'Netherlands-Sint Maarten': datetime.date(2020, 3, 20),
 'Netherlands-': datetime.date(2020, 2, 27),
 'New Zealand-': datetime.date(2020, 2, 28),
 'Nicaragua-': datetime.date(2020, 3, 19),
 'Niger-': datetime.date(2020, 3, 20),
 'Nigeria-': datetime.date(2020, 2, 28),
 'North Macedonia-': datetime.date(2020, 2, 26),
 'Norway-': datetime.date(2020, 2, 26),
 'Oman-': datetime.date(2020, 2, 24),
 'Pakistan-': datetime.date(2020, 2, 26),
 'Panama-': datetime.date(2020, 3, 10),
 'Papua New Guinea-': datetime.date(2020, 3, 20),
 'Paraguay-': datetime.date(2020, 3, 8),
 'Peru-': datetime.date(2020, 3, 6),
 'Philippines-': datetime.date(2020, 1, 30),
 'Poland-': datetime.date(2020, 3, 4),
 'Portugal-': datetime.date(2020, 3, 2),
 'Qatar-': datetime.date(2020, 2, 29),
 'Romania-': datetime.date(2020, 2, 26),
 'Russia-': datetime.date(2020, 1, 31),
 'Rwanda-': datetime.date(2020, 3, 14),
 'Saint Kitts and Nevis-': datetime.date(2020, 3, 25),
 'Saint Lucia-': datetime.date(2020, 3, 14),
 'Saint Vincent and the Grenadines-': datetime.date(2020, 3, 14),
 'San Marino-': datetime.date(2020, 2, 27),
 'Saudi Arabia-': datetime.date(2020, 3, 2),
 'Senegal-': datetime.date(2020, 3, 2),
 'Serbia-': datetime.date(2020, 3, 6),
 'Seychelles-': datetime.date(2020, 3, 14),
 'Singapore-': datetime.date(2020, 1, 23),
 'Slovakia-': datetime.date(2020, 3, 6),
 'Slovenia-': datetime.date(2020, 3, 5),
 'Somalia-': datetime.date(2020, 3, 16),
 'South Africa-': datetime.date(2020, 3, 5),
 'Spain-': datetime.date(2020, 2, 1),
 'Sri Lanka-': datetime.date(2020, 1, 27),
 'Sudan-': datetime.date(2020, 3, 13),
 'Suriname-': datetime.date(2020, 3, 14),
 'Sweden-': datetime.date(2020, 1, 31),
 'Switzerland-': datetime.date(2020, 2, 25),
 'Syria-': datetime.date(2020, 3, 22),
 'Taiwan*-': datetime.date(2020, 1, 22),
 'Tanzania-': datetime.date(2020, 3, 16),
 'Thailand-': datetime.date(2020, 1, 22),
 'Timor-Leste-': datetime.date(2020, 3, 22),
 'Togo-': datetime.date(2020, 3, 6),
 'Trinidad and Tobago-': datetime.date(2020, 3, 14),
 'Tunisia-': datetime.date(2020, 3, 4),
 'Turkey-': datetime.date(2020, 3, 11),
 'US-Alabama': datetime.date(2020, 3, 13),
 'US-Alaska': datetime.date(2020, 3, 13),
 'US-Arizona': datetime.date(2020, 3, 10),
 'US-Arkansas': datetime.date(2020, 3, 11),
 'US-California': datetime.date(2020, 3, 10),
 'US-Colorado': datetime.date(2020, 3, 10),
 'US-Connecticut': datetime.date(2020, 3, 10),
 'US-Delaware': datetime.date(2020, 3, 11),
 'US-District of Columbia': datetime.date(2020, 3, 10),
 'US-Florida': datetime.date(2020, 3, 10),
 'US-Georgia': datetime.date(2020, 3, 10),
 'US-Guam': datetime.date(2020, 3, 15),
 'US-Hawaii': datetime.date(2020, 3, 10),
 'US-Idaho': datetime.date(2020, 3, 13),
 'US-Illinois': datetime.date(2020, 3, 10),
 'US-Indiana': datetime.date(2020, 3, 10),
 'US-Iowa': datetime.date(2020, 3, 10),
 'US-Kansas': datetime.date(2020, 3, 10),
 'US-Kentucky': datetime.date(2020, 3, 10),
 'US-Louisiana': datetime.date(2020, 3, 10),
 'US-Maine': datetime.date(2020, 3, 13),
 'US-Maryland': datetime.date(2020, 3, 10),
 'US-Massachusetts': datetime.date(2020, 3, 10),
 'US-Michigan': datetime.date(2020, 3, 11),
 'US-Minnesota': datetime.date(2020, 3, 10),
 'US-Mississippi': datetime.date(2020, 3, 12),
 'US-Missouri': datetime.date(2020, 3, 10),
 'US-Montana': datetime.date(2020, 3, 11),
 'US-Nebraska': datetime.date(2020, 3, 10),
 'US-Nevada': datetime.date(2020, 3, 10),
 'US-New Hampshire': datetime.date(2020, 3, 10),
 'US-New Jersey': datetime.date(2020, 3, 10),
 'US-New Mexico': datetime.date(2020, 3, 11),
 'US-New York': datetime.date(2020, 3, 10),
 'US-North Carolina': datetime.date(2020, 3, 10),
 'US-North Dakota': datetime.date(2020, 3, 12),
 'US-Ohio': datetime.date(2020, 3, 10),
 'US-Oklahoma': datetime.date(2020, 3, 10),
 'US-Oregon': datetime.date(2020, 3, 10),
 'US-Pennsylvania': datetime.date(2020, 3, 10),
 'US-Puerto Rico': datetime.date(2020, 3, 14),
 'US-Rhode Island': datetime.date(2020, 3, 10),
 'US-South Carolina': datetime.date(2020, 3, 10),
 'US-South Dakota': datetime.date(2020, 3, 11),
 'US-Tennessee': datetime.date(2020, 3, 10),
 'US-Texas': datetime.date(2020, 3, 10),
 'US-Utah': datetime.date(2020, 3, 10),
 'US-Vermont': datetime.date(2020, 3, 10),
 'US-Virgin Islands': datetime.date(2020, 3, 16),
 'US-Virginia': datetime.date(2020, 3, 10),
 'US-Washington': datetime.date(2020, 3, 10),
 'US-West Virginia': datetime.date(2020, 3, 17),
 'US-Wisconsin': datetime.date(2020, 3, 10),
 'US-Wyoming': datetime.date(2020, 3, 12),
 'Uganda-': datetime.date(2020, 3, 21),
 'Ukraine-': datetime.date(2020, 3, 3),
 'United Arab Emirates-': datetime.date(2020, 1, 29),
 'United Kingdom-Bermuda': datetime.date(2020, 3, 19),
 'United Kingdom-Cayman Islands': datetime.date(2020, 3, 13),
 'United Kingdom-Channel Islands': datetime.date(2020, 3, 10),
 'United Kingdom-Gibraltar': datetime.date(2020, 3, 4),
 'United Kingdom-Isle of Man': datetime.date(2020, 3, 20),
 'United Kingdom-Montserrat': datetime.date(2020, 3, 18),
 'United Kingdom-': datetime.date(2020, 1, 31),
 'Uruguay-': datetime.date(2020, 3, 14),
 'Uzbekistan-': datetime.date(2020, 3, 15),
 'Venezuela-': datetime.date(2020, 3, 14),
 'Vietnam-': datetime.date(2020, 1, 23),
 'Zambia-': datetime.date(2020, 3, 18),
 'Zimbabwe-': datetime.date(2020, 3, 20)}

In [36]:
days_from_first_case = []
for i in range(len(train)):
    row = train.iloc[i]
    row = row.to_dict()
    initdate = places_dict[row["country+province"]]
    currdate = row["Date"].date()
    days = (currdate - initdate).days
    days_from_first_case.append(max(0,days))

In [37]:
train['Days_from_first_case'] = days_from_first_case

In [38]:
train.head(50)

,ConfirmedCases,Country_Region,Date,Fatalities,ForecastId,Id,Lat,Long,Province_State,country+province,day_dist,place,Days_from_first_case
0,0.0,Afghanistan,2020-01-22,0.0,NaN,1.0,33.0,65.0,no_value,Afghanistan-,0,125,0
1,0.0,Afghanistan,2020-01-23,0.0,NaN,2.0,33.0,65.0,no_value,Afghanistan-,1,125,0
2,0.0,Afghanistan,2020-01-24,0.0,NaN,3.0,33.0,65.0,no_value,Afghanistan-,2,125,0
3,0.0,Afghanistan,2020-01-25,0.0,NaN,4.0,33.0,65.0,no_value,Afghanistan-,3,125,0
4,0.0,Afghanistan,2020-01-26,0.0,NaN,5.0,33.0,65.0,no_value,Afghanistan-,4,125,0
5,0.0,Afghanistan,2020-01-27,0.0,NaN,6.0,33.0,65.0,no_value,Afghanistan-,5,125,0
6,0.0,Afghanistan,2020-01-28,0.0,NaN,7.0,33.0,65.0,no_value,Afghanistan-,6,125,0
7,0.0,Afghanistan,2020-01-29,0.0,NaN,8.0,33.0,65.0,no_value,Afghanistan-,7,125,0
8,0.0,Afghanistan,2020-01-30,0.0,NaN,9.0,33.0,65.0,no_value,Afghanistan-,8,125,0
9,0.0,Afghanistan,2020-01-31,0.0,NaN,10.0,33.0,65.0,no_value,Afghanistan-,9,125,0
10,0.0,Afghanistan,2020-02-01,0.0,NaN,11.0,33.0,65.0,no_value,Afghanistan-,10,125,0
11,0.0,Afghanistan,2020-02-02,0.0,NaN,12.0,33.0,65.0,no_value,Afghanistan-,11,125,0
12,0.0,Afghanistan,2020-02-03,0.0,NaN,13.0,33.0,65.0,no_value,Afghanistan-,12,125,0
13,0.0,Afghanistan,2020-02-04,0.0,NaN,14.0,33.0,65.0,no_value,Afghanistan-,13,125,0
14,0.0,Afghanistan,2020-02-05,0.0,NaN,15.0,33.0,65.0,no_value,Afghanistan-,14,125,0
15,0.0,Afghanistan,2020-02-06,0.0,NaN,16.0,33.0,65.0,no_value,Afghanistan-,15,125,0
16,0.0,Afghanistan,2020-02-07,0.0,NaN,17.0,33.0,65.0,no_value,Afghanistan-,16,125,0
17,0.0,Afghanistan,2020-02-08,0.0,NaN,18.0,33.0,65.0,no_value,Afghanistan-,17,125,0
18,0.0,Afghanistan,2020-02-09,0.0,NaN,19.0,33.0,65.0,no_value,Afghanistan-,18,125,0
19,0.0,Afghanistan,2020-02-10,0.0,NaN,20.0,33.0,65.0,no_value,Afghanistan-,19,125,0
20,0.0,Afghanistan,2020-02-11,0.0,NaN,21.0,33.0,65.0,no_value,Afghanistan-,20,125,0
21,0.0,Afghanistan,2020-02-12,0.0,NaN,22.0,33.0,65.0,no_value,Afghanistan-,21,125,0
22,0.0,Afghanistan,2020-02-13,0.0,NaN,23.0,33.0,65.0,no_value,Afghanistan-,22,125,0
23,0.0,Afghanistan,2020-02-14,0.0,NaN,24.0,33.0,65.0,no_value,Afghanistan-,23,125,0
24,0.0,Afghanistan,2020-02-15,0.0,NaN,25.0,33.0,65.0,no_value,Afghanistan-,24,125,0
25,0.0,Afghanistan,2020-02-16,0.0,NaN,26.0,33.0,65.0,no_value,Afghanistan-,25,125,0
26,0.0,Afghanistan,2020-02-17,0.0,NaN,27.0,33.0,65.0,no_value,Afghanistan-,26,125,0
27,0.0,Afghanistan,2020-02-18,0.0,NaN,28.0,33.0,65.0,no_value,Afghanistan-,27,125,0
28,0.0,Afghanistan,2020-02-19,0.0,NaN,29.0,33.0,65.0,no_value,Afghanistan-,28,125,0
29,0.0,Afghanistan,2020-02-20,0.0,NaN,30.0,33.0,65.0,no_value,Afghanistan-,29,125,0
30,0.0,Afghanistan,2020-02-21,0.0,NaN,31.0,33.0,65.0,no_value,Afghanistan-,30,125,0
31,0.0,Afghanistan,2020-02-22,0.0,NaN,32.0,33.0,65.0,no_value,Afghanistan-,31,125,0
32,0.0,Afghanistan,2020-02-23,0.0,NaN,33.0,33.0,65.0,no_value,Afghanistan-,32,125,0
33,1.0,Afghanistan,2020-02-24,0.0,NaN,34.0,33.0,65.0,no_value,Afghanistan-,33,125,0
34,1.0,Afghanistan,2020-02-25,0.0,NaN,35.0,33.0,65.0,no_value,Afghanistan-,34,125,1
35,1.0,Afghanistan,2020-02-26,0.0,NaN,36.0,33.0,65.0,no_value,Afghanistan-,35,125,2
36,1.0,Afghanistan,2020-02-27,0.0,NaN,37.0,33.0,65.0,no_value,Afghanistan-,36,125,3
37,1.0,Afghanistan,2020-02-28,0.0,NaN,38.0,33.0,65.0,no_value,Afghanistan-,37,125,4
38,1.0,Afghanistan,2020-02-29,0.0,NaN,39.0,33.0,65.0,no_value,Afghanistan-,38,125,5
39,1.0,Afghanistan,2020-03-01,0.0,NaN,40.0,33.0,65.0,no_value,Afghanistan-,39,125,6
40,1.0,Afghanistan,2020-03-02,0.0,NaN,41.0,33.0,65.0,no_value,Afghanistan-,40,125,7
41,1.0,Afghanistan,2020-03-03,0.0,NaN,42.0,33.0,65.0,no_value,Afghanistan-,41,125,8
42,1.0,Afghanistan,2020-03-04,0.0,NaN,43.0,33.0,65.0,no_value,Afghanistan-,42,125,9
43,1.0,Afghanistan,2020-03-05,0.0,NaN,44.0,33.0,65.0,no_value,Afghanistan-,43,125,10
44,1.0,Afghanistan,2020-03-06,0.0,NaN,45.0,33.0,65.0,no_value,Afghanistan-,44,125,11
45,1.0,Afghanistan,2020-03-07,0.0,NaN,46.0,33.0,65.0,no_value,Afghanistan-,45,125,12
46,4.0,Afghanistan,2020-03-08,0.0,NaN,47.0,33.0,65.0,no_value,Afghanistan-,46,125,13
47,4.0,Afghanistan,2020-03-09,0.0,NaN,48.0,33.0,65.0,no_value,Afghanistan-,47,125,14
48,5.0,Afghanistan,2020-03-10,0.0,NaN,49.0,33.0,65.0,no_value,Afghanistan-,48,125,15
49,7.0,Afghanistan,2020-03-11,0.0,NaN,50.0,33.0,65.0,no_value,Afghanistan-,49,125,16

In [39]:
train.to_csv("finaltrain.csv",index=False)

In [40]:
i = 0
fold_n = 0
for date in dates:
    print("Date: ", date)
    fold_n = fold_n +1 
    i = i+1
    if i==1:
        nrounds = 200
    else:
        nrounds = 100
#     print(i)
#     print(nrounds)
    
    train['shift_1_cc'] = train.groupby(['place'])['ConfirmedCases'].shift(i)
    train['shift_2_cc'] = train.groupby(['place'])['ConfirmedCases'].shift(i+1)
    train['shift_3_cc'] = train.groupby(['place'])['ConfirmedCases'].shift(i+2)
    train['shift_4_cc'] = train.groupby(['place'])['ConfirmedCases'].shift(i+3)
    train['shift_5_cc'] = train.groupby(['place'])['ConfirmedCases'].shift(i+4)
        
    val2 = train[train['Date']==date]
    train2 = train[(train['Date']<date)]
    y_cc = train2["ConfirmedCases"]
#     print(val2.head())
#     y_val_cc = val2["ConfirmedCases"]
    
    train2.drop(drop_cols, axis=1, inplace=True)
    val2.drop(drop_cols, axis=1, inplace=True)
    
#     np.log1p(y)
#     feature_importances = pd.DataFrame()
#     feature_importances['feature'] = train.keys()
    
    #score = 0       
    dtrain = lgb.Dataset(train2, label=y_cc)
    dvalid = lgb.Dataset(val2, label=y_val_cc)

    model = lgb.train(params, dtrain, nrounds, 
#                             valid_sets = [dtrain, dvalid],
                            categorical_feature = ['place'], #'Province/State', 'Country/Region'
                            verbose_eval=False)#, early_stopping_rounds=50)

    y_pred = model.predict(val2,num_iteration=nrounds)  #model.best_iteration
#     y_pred = np.expm1( y_pred)
#     vcheck.loc[vcheck['Date']==date,'cc_predict'] = y_pred
    test.loc[test['Date']==date,'ConfirmedCases'] = y_pred
    train.loc[train['Date']==date,'ConfirmedCases'] = y_pred
#     y_oof[valid_index] = y_pred

#     rmsle_score = rmsle(y_val_cc, y_pred)
#     mape_score = mape(y_val_cc, y_pred)
#     score += rmsle_score
#     print (f'fold: {date}, rmsle: {rmsle_score:.5f}' )
#     print (f'fold: {date}, mape: {mape_score:.5f}' )

Date:  2020-03-27

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['place']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

ValueError: Must have equal len keys and value when setting with an iterable

In [41]:
i = 0
fold_n = 0
for date in dates:
    print(date)
    fold_n = fold_n +1 
    i = i+1
    if i==1:
        nrounds = 200
    else:
        nrounds = 100
#     print(i)
#     print(nrounds)
    
    train['shift_1_cc'] = train.groupby(['place'])['Fatalities'].shift(i)
    train['shift_2_cc'] = train.groupby(['place'])['Fatalities'].shift(i+1)
    train['shift_3_cc'] = train.groupby(['place'])['Fatalities'].shift(i+2)
    train['shift_4_cc'] = train.groupby(['place'])['Fatalities'].shift(i+3)
    train['shift_5_cc'] = train.groupby(['place'])['Fatalities'].shift(i+4)
        
    val2 = train[train['Date']==date]
    train2 = train[(train['Date']<date)]
    y_ft = train2["Fatalities"]
    #y_val_cc = val2["ConfirmedCases"]
    
    train2.drop(drop_cols, axis=1, inplace=True)
    val2.drop(drop_cols, axis=1, inplace=True)
    
#     np.log1p(y)
#     feature_importances = pd.DataFrame()
#     feature_importances['feature'] = train.keys()

    dtrain = lgb.Dataset(train2, label=y_ft)
    dvalid = lgb.Dataset(val2, label=y_val_ft)

    model = lgb.train(params, dtrain, nrounds, 
#                             valid_sets = [dtrain, dvalid],
                            categorical_feature = ['place'], #'Province/State', 'Country/Region'
                            verbose_eval=False)#, early_stopping_rounds=50)

    y_pred = model.predict(val2,num_iteration=nrounds)  #model.best_iteration
#     y_pred = np.expm1( y_pred)
#     vcheck.loc[vcheck['Date']==date,'cc_predict'] = y_pred
    test.loc[test['Date']==date,'Fatalities'] = y_pred
    train.loc[train['Date']==date,'Fatalities'] = y_pred
#     y_oof[valid_index] = y_pred

#     rmsle_score = rmsle(y_val_cc, y_pred)
#     mape_score = mape(y_val_cc, y_pred)
#     score += rmsle_score
#     print (f'fold: {date}, rmsle: {rmsle_score:.5f}' )
#     print (f'fold: {date}, mape: {mape_score:.5f}' )

2020-03-27

ValueError: Must have equal len keys and value when setting with an iterable

In [42]:
test[test['Country_Region']=='India']

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long,ConfirmedCases,Fatalities
5762,5763,NaN,India,2020-03-19,India-,21.0,78.0,NaN,NaN
5763,5764,NaN,India,2020-03-20,India-,21.0,78.0,NaN,NaN
5764,5765,NaN,India,2020-03-21,India-,21.0,78.0,NaN,NaN
5765,5766,NaN,India,2020-03-22,India-,21.0,78.0,NaN,NaN
5766,5767,NaN,India,2020-03-23,India-,21.0,78.0,NaN,NaN
5767,5768,NaN,India,2020-03-24,India-,21.0,78.0,NaN,NaN
5768,5769,NaN,India,2020-03-25,India-,21.0,78.0,NaN,NaN
5769,5770,NaN,India,2020-03-26,India-,21.0,78.0,NaN,NaN
5770,5771,NaN,India,2020-03-27,India-,21.0,78.0,NaN,NaN
5771,5772,NaN,India,2020-03-28,India-,21.0,78.0,NaN,NaN
5772,5773,NaN,India,2020-03-29,India-,21.0,78.0,NaN,NaN
5773,5774,NaN,India,2020-03-30,India-,21.0,78.0,NaN,NaN
5774,5775,NaN,India,2020-03-31,India-,21.0,78.0,NaN,NaN
5775,5776,NaN,India,2020-04-01,India-,21.0,78.0,NaN,NaN
5776,5777,NaN,India,2020-04-02,India-,21.0,78.0,NaN,NaN
5777,5778,NaN,India,2020-04-03,India-,21.0,78.0,NaN,NaN
5778,5779,NaN,India,2020-04-04,India-,21.0,78.0,NaN,NaN
5779,5780,NaN,India,2020-04-05,India-,21.0,78.0,NaN,NaN
5780,5781,NaN,India,2020-04-06,India-,21.0,78.0,NaN,NaN
5781,5782,NaN,India,2020-04-07,India-,21.0,78.0,NaN,NaN
5782,5783,NaN,India,2020-04-08,India-,21.0,78.0,NaN,NaN
5783,5784,NaN,India,2020-04-09,India-,21.0,78.0,NaN,NaN
5784,5785,NaN,India,2020-04-10,India-,21.0,78.0,NaN,NaN
5785,5786,NaN,India,2020-04-11,India-,21.0,78.0,NaN,NaN
5786,5787,NaN,India,2020-04-12,India-,21.0,78.0,NaN,NaN
5787,5788,NaN,India,2020-04-13,India-,21.0,78.0,NaN,NaN
5788,5789,NaN,India,2020-04-14,India-,21.0,78.0,NaN,NaN
5789,5790,NaN,India,2020-04-15,India-,21.0,78.0,NaN,NaN
5790,5791,NaN,India,2020-04-16,India-,21.0,78.0,NaN,NaN
5791,5792,NaN,India,2020-04-17,India-,21.0,78.0,NaN,NaN
5792,5793,NaN,India,2020-04-18,India-,21.0,78.0,NaN,NaN
5793,5794,NaN,India,2020-04-19,India-,21.0,78.0,NaN,NaN
5794,5795,NaN,India,2020-04-20,India-,21.0,78.0,NaN,NaN
5795,5796,NaN,India,2020-04-21,India-,21.0,78.0,NaN,NaN
5796,5797,NaN,India,2020-04-22,India-,21.0,78.0,NaN,NaN
5797,5798,NaN,India,2020-04-23,India-,21.0,78.0,NaN,NaN
5798,5799,NaN,India,2020-04-24,India-,21.0,78.0,NaN,NaN
5799,5800,NaN,India,2020-04-25,India-,21.0,78.0,NaN,NaN
5800,5801,NaN,India,2020-04-26,India-,21.0,78.0,NaN,NaN
5801,5802,NaN,India,2020-04-27,India-,21.0,78.0,NaN,NaN
5802,5803,NaN,India,2020-04-28,India-,21.0,78.0,NaN,NaN
5803,5804,NaN,India,2020-04-29,India-,21.0,78.0,NaN,NaN
5804,5805,NaN,India,2020-04-30,India-,21.0,78.0,NaN,NaN

In [43]:
train.head()

,ConfirmedCases,Country_Region,Date,Fatalities,ForecastId,Id,Lat,Long,Province_State,country+province,day_dist,place,Days_from_first_case,shift_1_cc,shift_2_cc,shift_3_cc,shift_4_cc,shift_5_cc
0,0.0,Afghanistan,2020-01-22,0.0,NaN,1.0,33.0,65.0,no_value,Afghanistan-,0,125,0,NaN,NaN,NaN,NaN,NaN
1,0.0,Afghanistan,2020-01-23,0.0,NaN,2.0,33.0,65.0,no_value,Afghanistan-,1,125,0,0.0,NaN,NaN,NaN,NaN
2,0.0,Afghanistan,2020-01-24,0.0,NaN,3.0,33.0,65.0,no_value,Afghanistan-,2,125,0,0.0,0.0,NaN,NaN,NaN
3,0.0,Afghanistan,2020-01-25,0.0,NaN,4.0,33.0,65.0,no_value,Afghanistan-,3,125,0,0.0,0.0,0.0,NaN,NaN
4,0.0,Afghanistan,2020-01-26,0.0,NaN,5.0,33.0,65.0,no_value,Afghanistan-,4,125,0,0.0,0.0,0.0,0.0,NaN

In [44]:
train_sub = pd.read_csv("../input/covid19-global-forecasting-week-2/train.csv")

In [45]:
train_sub.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

In [46]:
test = pd.merge(test,train_sub[['Province_State','Country_Region','Date','ConfirmedCases','Fatalities']], on=['Province_State','Country_Region','Date'], how='left')

In [47]:
test.shape

(12642, 11)

In [48]:
test.head()

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long,ConfirmedCases_x,Fatalities_x,ConfirmedCases_y,Fatalities_y
0,1,NaN,Afghanistan,2020-03-19,Afghanistan-,33.0,65.0,NaN,NaN,22.0,0.0
1,2,NaN,Afghanistan,2020-03-20,Afghanistan-,33.0,65.0,NaN,NaN,24.0,0.0
2,3,NaN,Afghanistan,2020-03-21,Afghanistan-,33.0,65.0,NaN,NaN,24.0,0.0
3,4,NaN,Afghanistan,2020-03-22,Afghanistan-,33.0,65.0,NaN,NaN,40.0,1.0
4,5,NaN,Afghanistan,2020-03-23,Afghanistan-,33.0,65.0,NaN,NaN,40.0,1.0

In [49]:
test.loc[test['ConfirmedCases_x'].isnull()==True, 'ConfirmedCases_x'] = test.loc[test['ConfirmedCases_x'].isnull()==True, 'ConfirmedCases_y']

In [50]:
test.head()

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long,ConfirmedCases_x,Fatalities_x,ConfirmedCases_y,Fatalities_y
0,1,NaN,Afghanistan,2020-03-19,Afghanistan-,33.0,65.0,22.0,NaN,22.0,0.0
1,2,NaN,Afghanistan,2020-03-20,Afghanistan-,33.0,65.0,24.0,NaN,24.0,0.0
2,3,NaN,Afghanistan,2020-03-21,Afghanistan-,33.0,65.0,24.0,NaN,24.0,0.0
3,4,NaN,Afghanistan,2020-03-22,Afghanistan-,33.0,65.0,40.0,NaN,40.0,1.0
4,5,NaN,Afghanistan,2020-03-23,Afghanistan-,33.0,65.0,40.0,NaN,40.0,1.0

In [51]:
test.loc[test['Fatalities_x'].isnull()==True, 'Fatalities_x'] = test.loc[test['Fatalities_x'].isnull()==True, 'Fatalities_y']

In [52]:
test.head()

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long,ConfirmedCases_x,Fatalities_x,ConfirmedCases_y,Fatalities_y
0,1,NaN,Afghanistan,2020-03-19,Afghanistan-,33.0,65.0,22.0,0.0,22.0,0.0
1,2,NaN,Afghanistan,2020-03-20,Afghanistan-,33.0,65.0,24.0,0.0,24.0,0.0
2,3,NaN,Afghanistan,2020-03-21,Afghanistan-,33.0,65.0,24.0,0.0,24.0,0.0
3,4,NaN,Afghanistan,2020-03-22,Afghanistan-,33.0,65.0,40.0,1.0,40.0,1.0
4,5,NaN,Afghanistan,2020-03-23,Afghanistan-,33.0,65.0,40.0,1.0,40.0,1.0

In [53]:
last_amount = test.loc[(test['Country_Region']=='Italy')&(test['Date']=='2020-03-26'),'ConfirmedCases_x']

In [54]:
last_fat = test.loc[(test['Country_Region']=='Italy')&(test['Date']=='2020-03-24'),'Fatalities_x']

In [55]:
last_amount, last_fat

(6027    80589.0
 Name: ConfirmedCases_x, dtype: float64,
 6025    6820.0
 Name: Fatalities_x, dtype: float64)

In [56]:
i, k = 0, 35
for date in dates:
    k = k-1
    i = i + 1
    test.loc[(test['Country_Region']=='Italy')&(test['Date']==date),'ConfirmedCases_x'] =  last_amount.values[0]+i*(5000-(100*i))
    test.loc[(test['Country_Region']=='Italy')&(test['Date']==date),'Fatalities_x'] =  last_fat.values[0]+i*(800-(10*i))

In [57]:
test.loc[(test['Country_Region']=='Italy')]

,ForecastId,Province_State,Country_Region,Date,country+province,Lat,Long,ConfirmedCases_x,Fatalities_x,ConfirmedCases_y,Fatalities_y
6020,6021,NaN,Italy,2020-03-19,Italy-,43.0,12.0,41035.0,3405.0,41035.0,3405.0
6021,6022,NaN,Italy,2020-03-20,Italy-,43.0,12.0,47021.0,4032.0,47021.0,4032.0
6022,6023,NaN,Italy,2020-03-21,Italy-,43.0,12.0,53578.0,4825.0,53578.0,4825.0
6023,6024,NaN,Italy,2020-03-22,Italy-,43.0,12.0,59138.0,5476.0,59138.0,5476.0
6024,6025,NaN,Italy,2020-03-23,Italy-,43.0,12.0,63927.0,6077.0,63927.0,6077.0
6025,6026,NaN,Italy,2020-03-24,Italy-,43.0,12.0,69176.0,6820.0,69176.0,6820.0
6026,6027,NaN,Italy,2020-03-25,Italy-,43.0,12.0,74386.0,7503.0,74386.0,7503.0
6027,6028,NaN,Italy,2020-03-26,Italy-,43.0,12.0,80589.0,8215.0,80589.0,8215.0
6028,6029,NaN,Italy,2020-03-27,Italy-,43.0,12.0,85489.0,7610.0,86498.0,9134.0
6029,6030,NaN,Italy,2020-03-28,Italy-,43.0,12.0,90189.0,8380.0,NaN,NaN
6030,6031,NaN,Italy,2020-03-29,Italy-,43.0,12.0,94689.0,9130.0,NaN,NaN
6031,6032,NaN,Italy,2020-03-30,Italy-,43.0,12.0,98989.0,9860.0,NaN,NaN
6032,6033,NaN,Italy,2020-03-31,Italy-,43.0,12.0,103089.0,10570.0,NaN,NaN
6033,6034,NaN,Italy,2020-04-01,Italy-,43.0,12.0,106989.0,11260.0,NaN,NaN
6034,6035,NaN,Italy,2020-04-02,Italy-,43.0,12.0,110689.0,11930.0,NaN,NaN
6035,6036,NaN,Italy,2020-04-03,Italy-,43.0,12.0,114189.0,12580.0,NaN,NaN
6036,6037,NaN,Italy,2020-04-04,Italy-,43.0,12.0,117489.0,13210.0,NaN,NaN
6037,6038,NaN,Italy,2020-04-05,Italy-,43.0,12.0,120589.0,13820.0,NaN,NaN
6038,6039,NaN,Italy,2020-04-06,Italy-,43.0,12.0,123489.0,14410.0,NaN,NaN
6039,6040,NaN,Italy,2020-04-07,Italy-,43.0,12.0,126189.0,14980.0,NaN,NaN
6040,6041,NaN,Italy,2020-04-08,Italy-,43.0,12.0,128689.0,15530.0,NaN,NaN
6041,6042,NaN,Italy,2020-04-09,Italy-,43.0,12.0,130989.0,16060.0,NaN,NaN
6042,6043,NaN,Italy,2020-04-10,Italy-,43.0,12.0,133089.0,16570.0,NaN,NaN
6043,6044,NaN,Italy,2020-04-11,Italy-,43.0,12.0,134989.0,17060.0,NaN,NaN
6044,6045,NaN,Italy,2020-04-12,Italy-,43.0,12.0,136689.0,17530.0,NaN,NaN
6045,6046,NaN,Italy,2020-04-13,Italy-,43.0,12.0,138189.0,17980.0,NaN,NaN
6046,6047,NaN,Italy,2020-04-14,Italy-,43.0,12.0,139489.0,18410.0,NaN,NaN
6047,6048,NaN,Italy,2020-04-15,Italy-,43.0,12.0,140589.0,18820.0,NaN,NaN
6048,6049,NaN,Italy,2020-04-16,Italy-,43.0,12.0,141489.0,19210.0,NaN,NaN
6049,6050,NaN,Italy,2020-04-17,Italy-,43.0,12.0,142189.0,19580.0,NaN,NaN
6050,6051,NaN,Italy,2020-04-18,Italy-,43.0,12.0,142689.0,19930.0,NaN,NaN
6051,6052,NaN,Italy,2020-04-19,Italy-,43.0,12.0,142989.0,20260.0,NaN,NaN
6052,6053,NaN,Italy,2020-04-20,Italy-,43.0,12.0,143089.0,20570.0,NaN,NaN
6053,6054,NaN,Italy,2020-04-21,Italy-,43.0,12.0,142989.0,20860.0,NaN,NaN
6054,6055,NaN,Italy,2020-04-22,Italy-,43.0,12.0,142689.0,21130.0,NaN,NaN
6055,6056,NaN,Italy,2020-04-23,Italy-,43.0,12.0,142189.0,21380.0,NaN,NaN
6056,6057,NaN,Italy,2020-04-24,Italy-,43.0,12.0,141489.0,21610.0,NaN,NaN
6057,6058,NaN,Italy,2020-04-25,Italy-,43.0,12.0,140589.0,21820.0,NaN,NaN
6058,6059,NaN,Italy,2020-04-26,Italy-,43.0,12.0,139489.0,22010.0,NaN,NaN
6059,6060,NaN,Italy,2020-04-27,Italy-,43.0,12.0,138189.0,22180.0,NaN,NaN
6060,6061,NaN,Italy,2020-04-28,Italy-,43.0,12.0,136689.0,22330.0,NaN,NaN
6061,6062,NaN,Italy,2020-04-29,Italy-,43.0,12.0,134989.0,22460.0,NaN,NaN
6062,6063,NaN,Italy,2020-04-30,Italy-,43.0,12.0,133089.0,22570.0,NaN,NaN

In [58]:
sub = test[['ForecastId', 'ConfirmedCases_x','Fatalities_x']]
sub.columns = ['ForecastId', 'ConfirmedCases', 'Fatalities']

In [59]:
sub.head()

   ForecastId  ConfirmedCases  Fatalities
0           1            22.0         0.0
1           2            24.0         0.0
2           3            24.0         0.0
3           4            40.0         1.0
4           5            40.0         1.0

In [60]:
sub.loc[sub['ConfirmedCases']<0, 'ConfirmedCases'] = 0

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [61]:
sub.loc[sub['Fatalities']<0, 'Fatalities'] = 0

In [62]:
sub['Fatalities'].describe()

count     2680.000000
mean       276.388806
std       2034.262432
min          0.000000
25%          0.000000
50%          1.000000
75%          5.000000
max      22570.000000
Name: Fatalities, dtype: float64

In [63]:
sub.to_csv('submission.csv',index=False)